<ion-view title="{{employee.name}}">
    <ion-content padding="true" class="has-header">

        <div class="list card">
            <div class="item item-divider">Competencies</div>
            <div class="item item-body">

                <div class="plot">
                  <radial-plot dsn="dataset_a" point-radius="1.2" editable="true" labelled="true" free="true" interpolation="cardinal-closed"></radial-plot>
                </div>

                <ion-list>
                  <ion-item ng-repeat="competency in employee.competencies" href="#/ranks/{{$index}}" >
                    {{competency.title}}
                    <span class="badge badge-assertive">{{competency.level}}</span>
                    </ion-item>
                </ion-list>
                <!--button class="button  button-block">Add</button-->
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">Skills</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item ng-repeat="skill in employee.skills" >{{skill.title}}</ion-item>
                </ion-list>
                <!--button class="button  button-block">Add</button-->
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Projects</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item ng-repeat="project in employee.projects" >{{project}}</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Personal Details</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Birthday: {{employee.birthday}}</ion-item>
                    <ion-item>Education:</ion-item>
                    <ion-item>Languages:</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
