<ion-view title="Rank">
  <ion-content padding="true" class="has-header">
    <img src="http://spuclan.files.wordpress.com/2012/12/charbtek-281.png?w=320&amp;h=320">
      <ion-list>
        <ion-item href="#/ranks/0">Technical<span class="badge badge-assertive">{{employeeRank.technical}}</span></ion-item>
        <ion-item href="#/ranks/1">Autonomous<span class="badge badge-assertive">{{employeeRank.autonomous}}</span></ion-item>
        <ion-item href="#/ranks/2">Leadership<span class="badge badge-assertive">{{employeeRank.leadership}}</span></ion-item>
        <ion-item href="#/ranks/3">Communication<span class="badge badge-assertive">{{employeeRank.communication}}</span></ion-item>
        <ion-item href="#/ranks/4">Training<span class="badge badge-assertive">{{employeeRank.training}}</span></ion-item>
        <ion-item href="#/ranks/5">Cooperation<span class="badge badge-assertive">{{employeeRank.cooperation}}</span></ion-item>
        <!--ion-item href="#/ranks">Experience: {{rank.leadership}}</ion-item-->
      </ion-list>
  </ion-content>
</ion-view>
