<ion-view title="Rank">
  <ion-content padding="true" class="has-header">
    <img src="http://spuclan.files.wordpress.com/2012/12/charbtek-281.png?w=320&amp;h=320">
      <ion-list>
        <ion-item href="#/ranks/1">Technical: {{employeeRank.technical}}</ion-item>
        <ion-item href="#/ranks/2">Autonomous: {{employeeRank.autonomous}}</ion-item>
        <ion-item href="#/ranks/3">Leadership: {{employeeRank.leadership}}</ion-item>
        <ion-item href="#/ranks/4">Communication: {{employeeRank.communication}}</ion-item>
        <ion-item href="#/ranks/5">Training: {{employeeRank.training}}</ion-item>
        <ion-item href="#/ranks/6">Cooperation: {{employeeRank.cooperation}}</ion-item>
        <!--ion-item href="#/ranks">Experience: {{rank.leadership}}</ion-item-->
      </ion-list>
  </ion-content>
</ion-view>
