<ion-view title="{{employee.name}}">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Skills</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item ng-repeat="skill in employee.skill" >{{skill.title}}</ion-item>
                </ion-list>
                <!--button class="button  button-block">Add</button-->
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Projects</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item ng-repeat="project in employee.project" >{{project}}</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Personal Details</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Birthday: {{employee.birthday}}</ion-item>
                    <ion-item>Education:</ion-item>
                    <ion-item>Languages:</ion-item>
                    <ion-item href="#/employees/{{employee.id}}/rank">Rank: {{employee.rank}}</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
