<ion-view title="Nguyen Van A">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Weapons</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Less</ion-item>
                    <ion-item>Jade</ion-item>
                    <ion-item>Javascript</ion-item>
                </ion-list>
                <button class="button  button-block">Add</button>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Battles</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Item 1</ion-item>
                    <ion-item>Item 2</ion-item>
                    <ion-item>Item 3</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Personal Details</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Birthday</ion-item>
                    <ion-item>Education</ion-item>
                    <ion-item>Languages</ion-item>
                    <ion-item href="#/list/1/rank">Rank</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
