<ion-view title="Ranks">
    <ion-content padding="true" class="has-header">
        <div class="content">
            <p>Ability to communicate with others (both orally and by writing; in English/Japanese/... and native language).</p>
        </div>
        <ion-list>
            <ion-item>Level 0</ion-item>
            <ion-item>Level 1</ion-item>
            <ion-item>Level 2</ion-item>
            <ion-item>Level 3</ion-item>
            <ion-item>Level 4</ion-item>
            <ion-item>Level 5</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
